.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: rgb(30, 5, 70);
  background: radial-gradient(
    circle,
    rgba(30, 5, 70, 1) 0%,
    rgba(46, 103, 140, 1) 60%,
    rgba(223, 228, 230, 1) 100%
  );

  .alignCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    padding: 20px 10px;

    @media (max-width: 768px) {
      padding: 10px 0;
    }

    .acertou {
      position: absolute;
      z-index: 99;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.445);
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;

      h3 {
        font-size: 2em;
      }

      .result {
        display: flex;
        text-align: center;

        .numbers {
          margin: 0 10px;
        }

        p {
          font-size: 1.5em;
        }
      }
    }
  }
}
